@import "../../styles/variables";

.categories {
    margin-top: 50px;
}

.categories__title {
    font-size: 35px;
    margin-bottom: 30px;
}

.categories__wrap {
    border-radius: 30px;
    border: 1px solid $gray;
    padding: 50px 30px;
}