@import "../../styles//variables";

.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
}

.navigation__list,
.language-selector {
    display: flex;
    align-items: center;
    height: 50px;
}

.navigation__item {
    height: 100%;
    border-right: 1px solid $gray;
}

.navigation__link,
.language-selector__btn {
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    transition: color $trans;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $silver;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform $trans;
    }

    &:hover {
        color: $white;
        &::before {
            transform: scaleY(1);
            transform-origin: top;
        }
    }

    &--selected {
        color: $white;
        &::before {
            transform: scaleY(1);
            transform-origin: top;
        }
    }
}

.language-selector__btn {
    text-transform: uppercase;
    border-left: 1px solid $gray;
    cursor: pointer;
    &:disabled {
        pointer-events: none;
        background-color: $red;
    }
}
