@import "../../styles/variables";

body {
    padding-top: 50px;
}

.navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    background-color: $white;
}

.navigation__list,
.language-selector {
    display: flex;
    align-items: center;
    height: 50px;
}

.language-selector {
    @media only screen and (max-width: 500px) {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: $white;
        border: 1px solid $gray;
        opacity: 0;
        pointer-events: none;
        transition: opacity $trans;
        * {
            position: relative;
            z-index: 1;
        }

        &--visible {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.navigation__item {
    height: 100%;
    border-right: 1px solid $gray;
}

.navigation__link,
.language-selector__btn {
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    transition: color $trans;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $silver;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform $trans;
    }

    &:hover {
        color: $white;
        &::before {
            transform: scaleY(1);
            transform-origin: top;
        }
    }

    &--selected {
        color: $white;
        &::before {
            transform: scaleY(1);
            transform-origin: top;
        }
    }

    @media only screen and (max-width: 768px) {
        padding: 0 10px;
    }
}

.language-selector__btn {
    text-transform: uppercase;
    border-left: 1px solid $gray;
    cursor: pointer;
    &:disabled {
        pointer-events: none;
        background-color: $red;
    }
}

.language-trigger {
    padding-right: 10px;
    cursor: pointer;
    @media only screen and (min-width: 501px) {
        display: none;
    }
}
